/* Your game will hide this amount until the player clicks a crystal. */
    
.target {
  /* display: none */
}

h1 {
  font-family: 'Sigmar One', cursive;
color: purple;
}

h2{
  font-family: 'Sigmar One', cursive;
  color: rosybrown;
  font-size:  20px;
  
}
h3 {
  font-family: 'Sigmar One', cursive;
  color: blue;
  font-size: 20px;
}

h4{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 18px;
}

h5 {
  font-family: 'Sigmar One', cursive;
  font-size:  40px;
}



p {
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Geostar Fill', cursive;
}

#score, #target, #wins, #losses {
  font-family: 'Geostar Fill', cursive;
  font-size: 80px;
}

button {
  font-size: 15px;
  margin: 5px;
}

/*  */